.button1{
    margin-left:18rem;
    margin-top: 1.4rem; 
    border-radius: 10px;
    width:190px;
    height:70px;
    cursor:pointer;  
}
.paragraph{
   font-weight:bold;
   margin-left:18rem;
}
.long-container {
    width: 60%;
    height:100px; 
    border: 3px solid #ccc; 
    margin-left:18rem;
    margin-top:10px;
    cursor:pointer;
    overflow: hidden;
}
.left-content {
    padding:20px;
    font-size:30px;
    align-items: center;
}
.right-content{
    margin-left:47rem;
    display: flex;
    font-size: 10px;
    position: relative;
    flex-direction: column;
    margin-bottom:18px;
    font-size:16px;
    display:grid;  
}