<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body>
    <h1>Mentor Dashboard</h1>
    
    <input type="text" name="title" placeholder="Course Title" required>
    <textarea name="description" placeholder="Course Description" required></textarea>
    <textarea name="objective1" placeholder="Objective"></textarea>
    <textarea name="objective2" placeholder="Objective"></textarea>
    <input type="file" name="image" placeholder="Upload image" required>
    <input type="file" name="video" placeholder="Upload Video" required>
    <button type="submit">Upload Course</button>
    </form>

</body>
</html>