* {
    margin: 0%;
    padding: 0%;
}
body {
    font-family: 'GT America Standard', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #191a1b;
    background-color: #191a1b;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
header {
    background-color: black;
    height: 85px;
    display: flex;
}
.header-left {
    display: inline-flex;
    
}