<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abstract Page</title>
    <link rel="stylesheet" href="abstract.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-left">
            <a style="color:#ffffff; text-decoration: none; border-right: white;" href="#">Abstract</a>
            <a href="#">Help Center</a>
        </div>
    </header>
</body>
</html>